/* Header */
/* Header left */
.icon-logo {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/icon-payroll-logo.758777d.svg?v=')
    no-repeat;
  width: 32px;
  height: 32px;
}

.icon-tooltip {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -80px -80px;
  width: 20px;
  height: 20px;
}

.icon-search {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat;
  width: 20px;
  height: 20px;
}

/* Header right */
.icon-notification-version-header-right {
  background: url('../icons/icon-notification-version.svg') no-repeat;
  width: 24px;
  height: 24px;
}

.icon-store-header-right {
  background: url('../icons/icon-store.svg') no-repeat;
  width: 20px;
  height: 20px;
}

.icon-user-controlpanel-header-right {
  background: url('../icons/icon-user-controlpanel-item.svg') no-repeat;
  width: 24px;
  height: 24px;
}

.icon-messbox-header-right {
  background: url('../icons/icon-messbox.svg') no-repeat;
  width: 24px;
  height: 24px;
}

.icon-notificationbox-header-right {
  background: url('../icons/ICON.svg') no-repeat -212px -942px;
  width: 20px;
  height: 21px;
}

.icon-helpmenu-header-right {
  background: url('../icons/ICON.svg') no-repeat -236px -942px;
  width: 20px;
  height: 20px;
}

.icon-moremenu-header-right {
  background: url('../icons/ICON.svg') no-repeat -260px -942px;
  width: 20px;
  height: 20px;
}

.icon-knowledge-header-right {
  background: url('../icons/icon-knowledge.svg') no-repeat;
  width: 24px;
  height: 24px;
}

/* Sidebar */
.icon-sidebar-dashboard {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat 0 -778px;
  width: 20px;
  height: 20px;
}

.icon-sidebar-salary-composition {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -120px -778px;
  width: 20px;
  height: 20px;
}

.icon-sidebar-salary-template {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -100px -778px;
  width: 20px;
  height: 20px;
}

.icon-sidebar-salary-data {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -20px -778px;
  width: 20px;
  height: 20px;
}

.icon-sidebar-salary-table {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -40px -778px;
  width: 20px;
  height: 20px;
}

.icon-sidebar-payment {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -60px -778px;
  width: 20px;
  height: 20px;
}

.icon-sidebar-report {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -80px -778px;
  width: 20px;
  height: 20px;
}

.icon-sidebar-setting {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -140px -778px;
  width: 20px;
  height: 20px;
}

.icon-sidebar-zoom {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -162px -779px;
  width: 16px;
  height: 16px;
}

.icon-sidebar-zoom-out {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -162px -779px;
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}

.icon-sidebar-dropdown {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -186px -781px;
  width: 8px;
  height: 12px;
}

/* Container */
.icon-mi-rule {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -260px -100px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -260px -100px;
  width: 20px;
  height: 20px;
  background-color: #6e737a;
}

.icon-mi-plus-white {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -220px 0px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -220px 0px;
  width: 20px;
  height: 20px;
  background-color: #fff !important;
}

.icon-mi-plus-primary {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -220px 0px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -220px 0px;
  width: 20px;
  height: 20px;
  background-color: #34b057 !important;
}

.icon-mi-plus {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -220px 0px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -220px 0px;
  width: 20px;
  height: 20px;
  background-color: #6e737a !important;
}

.icon-down-white {
  -webkit-mask: url('../icons/Icon1.svg') no-repeat -104px -7px;
  mask: url('../icons/Icon1.svg') no-repeat -104px -7px;
  width: 12px;
  height: 6px;
  background-color: #fff !important;
}

.icon-down {
  -webkit-mask: url('../icons/Icon1.svg') no-repeat -104px -7px;
  mask: url('../icons/Icon1.svg') no-repeat -104px -7px;
  width: 12px;
  height: 6px;
  background-color: #666 !important;
}

.icon-mi-filter {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -20px 0;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -20px 0;
  width: 20px;
  height: 20px;
  background-color: #6e737a;
}

.icon-mi-setting {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -48px -120px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -48px -120px;
  width: 24px;
  height: 24px;
  background-color: #6e737a;
}

.icon-mi-chevron-left {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -167px -5px;
  width: 6px;
  height: 10px;
}

.icon-mi-chevron-right {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -146px -5px;
  width: 7px;
  height: 10px;
}

.icon-mi-pin {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px -80px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px -80px;
  background-color: #34b057 !important;
  width: 20px;
  height: 20px;
}

.icon-mi-uppin {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px -80px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px -80px;
  background-color: #686c7b !important;
  width: 20px;
  height: 20px;
}

.icon-mi-arrow-up {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px 0;
  width: 20px;
  height: 20px;
  transform: rotate(90deg) !important;
}

.icon-mi-arrow-down {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -200px 0;
  width: 20px;
  height: 20px;
  transform: rotate(90deg) !important;
}

.icon-arrow-left {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px 0;
  width: 20px;
  height: 20px;
}

.icon-mi-circle-minus-yellow {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -220px -40px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -220px -40px;
  background-color: #f90 !important;
  width: 20px;
  height: 20px;
}

.icon-mi-circle-check-green {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px -40px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px -40px;
  background-color: #25b973 !important;
  width: 20px;
  height: 20px;
}

.icon-mi-copy {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -80px 0;
  width: 20px;
  height: 20px;
}

.icon-mi-pencil {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -60px 0;
  width: 20px;
  height: 20px;
}

.icon-mi-trash-red {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -120px -20px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -120px -20px;
  background-color: #ff6161 !important;
  width: 20px;
  height: 20px;
}

.icon-mi-check-green {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -120px -60px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -120px -60px;
  background-color: #34b057 !important;
  width: 20px;
  height: 20px;
}

.icon-mi-radio-button-check {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -100px -20px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -100px -20px;
  background-color: #34b057 !important;
  width: 20px;
  height: 20px;
}

.icon-mi-radio-button-uncheck {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -80px -20px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -80px -20px;
  background-color: #666 !important;
  width: 20px;
  height: 20px;
}

.icon-mi-square-check-primary {
  background: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=)
    no-repeat -260px 0px;
  width: 20px;
  height: 20px;
}

.icon-mi-square-default {
  background: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=)
    no-repeat -240px 0px;
  width: 20px;
  height: 20px;
}

.icon-mi-close {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -280px 0;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -280px 0;
  width: 20px;
  height: 20px;
  background-color: #6e737a !important;
}

.icon-mi-close-small {
  background: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -140px -80px;
  width: 20px;
  height: 20px;
}

.icon-mi-threedot {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -160px -40px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -160px -40px;
  width: 20px;
  height: 20px;
  background-color: #6e737a;
}

.icon-mi-alert-success {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px -40px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px -40px;
  width: 20px;
  height: 20px;
  background-color: #fff !important;
}

.icon-mi-alert-error {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -240px -40px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -240px -40px;
  width: 20px;
  height: 20px;
  background-color: #fff !important;
}

.icon-mi-update {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -260px -60px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -260px -60px;
  width: 20px;
  height: 20px;
  background-color: #6e737a !important;
}

.icon-mi-move {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat 0 -100px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat 0 -100px;
  width: 20px;
  height: 20px;
  background-color: #6e737a !important;
}

.icon-mi-circle-close {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -240px -40px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -240px -40px;
  width: 20px;
  height: 20px;
  background-color: #6e737a !important;
}

.icon-mi-lock {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -20px -20px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -20px -20px;
  width: 20px;
  height: 20px;
  background-color: #6e737a !important;
}

.icon-mi-circle-close-red {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -240px -40px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -240px -40px;
  width: 20px;
  height: 20px;
  background-color: #ff6161 !important;
}

.icon-mi-file-green {
  -webkit-mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px -20px;
  mask: url('https://testcdnamisapp.misacdn.net/apps/payroll/static/img/Icon.0b197b4.svg?v=')
    no-repeat -180px -20px;
  width: 20px;
  height: 20px;
  background-color: #34b057 !important;
}

.icon-show-nodata {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  background-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/EmptyState.49ed02a.svg?v=);
  background-repeat: no-repeat;
  width: 195px;
  height: 125px;
  background-position: -1156px -1316px;
}
